.status_task{
    /*color: rgba(69, 36, 206, 0.99); !* Цвет текста *!*/
    font-size: 20px; /* Размер текста */
    /*font-weight: bold; !* Жирное начертание *!*/
    /*text-shadow: 2px 2px 4px grey; !* Текст текста *!*/
    text-align: center !important;
    margin: 0 auto !important;
   }
   .coment_task{
    color: blue; /* Цвет текста */
    font-size: 20px; /* Размер текста */
    text-shadow: 2px 2px 4px grey; /* Текст текста */
   }
   .coment {
    color: green; /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
   .answer_coment {
    color: #001c80; /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
   .term {
    border-bottom: 1px dashed red; /* Подчеркивание под текстом */
   }
   .task_work {
    color: green; /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
    .task_end {
    color: rgba(7, 72, 241, 0.91); /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
    .task_cancellation {
    color: rgba(241, 7, 116, 0.91); /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }
    .task_no_work {
    color: rgba(103, 116, 115, 0.91); /* Цвет текста */
    font-weight: bold; /* Жирное начертание */
   }

   .body_content{
        display: flex;
    }
   #bloc_content{
       color: blue;
   }
   #bloc_content div>div:first-child{
       color: red;
   }
 .parent_task{
     display: flex; /**/
     justify-content: space-between; /*расстягиват по краям*/
     width: 50%;
 }
#invalid-feedback-file{
    display: none;
    margin-left: 67px;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}
.form-lk-admin{
    width: 100%;
}

.but-date{
    margin: 0 !important;
    display: block;
}

.nav-link{
    padding: 0px !important;
}

.date-flex-adm{
    justify-content: space-between;
}



/* MEDIA */

@media  (min-width: 320px) and (max-width: 454px) {
    .select-role{
        width: 100% !important;
        margin-left: 0 !important;
    }
    .costum-file input {
        margin-left: 0 !important;
        width: 100%;
    }

    .mar-top-time {
        margin-left: 0px !important;
        width: 100% !important;
    }
    .mar-lef {
        margin: 0 auto;
        margin-top: 13px;
    }
    .padd-task{
        margin: 0 auto !important;
        width: 180px !important;
    }

    .select-role-adm {
        margin-left: 0% !important;
    }


    .button-select-all-adm{
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin: 0 auto;
        margin-top: 21px;
    }
    .d-flex{
        justify-content: center;
    }
    .clock-flex{
        margin: 0 !important;
    }

}

@media  (min-width: 455px) and (max-width: 575px) {
    .select-role{
        width: 100% !important;
        margin-left: 0 !important;
    }
    .costum-file input {
        margin-left: 0 !important;
        width: 100%;
    }

    .mar-top-time {
        margin-left: 0px !important;
        width: 100% !important;
    }
    .mar-lef {
        margin: 0 auto !important;
        margin-top: 13px;
    }
    .padd-task{
        margin: 0 auto !important;
        width: 180px !important;
    }

    .select-role-adm {
        margin-left: 0% !important;
    }
    .button-select-all-adm{
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin: 0 auto;
        margin-top: 21px;
    }
    .d-flex{
        justify-content: center;
    }
    .clock-flex{
        margin-top: 0px;
        margin-left: 0%;
        margin-right: 0px;
    }

}

@media  (min-width: 576px) and (max-width: 767px) {
    .select-role{
        width: 100% !important;
        margin-left: 0 !important;
    }
    .costum-file input {
        margin-left: 0 !important;
        width: 100%;
    }

    .mar-top-time {
        margin-left: 0px !important;
        width: 100% !important;
    }
    .mar-lef {
        /*margin-left: 200px;*/
        margin: 0 auto;
        margin-top: 13px;
    }

    /*.select-role-adm {*/
    /*    margin-top: 27px;*/
    /*}*/
    .select-role-adm {
        margin-left: 0% !important;
    }

    .clock-flex {
        margin: 0 auto;
        /*margin-left: 0%;*/
        /*margin-right: 0px;*/
    }
    .button-select-all-adm{
        margin: 0 auto;
        margin-top: 21px;
    }
}

@media  (min-width:767px) {
    .mar-lef {
        margin-left: 0px !important;

    }
}

@media  (min-width: 998px)  and (max-width: 1199px) {
    .mar-lef {
        margin-left: 0px !important;

    }
}